.profileHold {
    width: 60px;
    height: 60px;
    overflow: hidden;
    background: var(--firmament);
    margin-right: 1em;
    border-radius: 60px;
}

.imgsize {
    width: 100%;
}

.authorFlex>* {
    margin-bottom: 1em;
}

.longformtext {
    max-width: 600px;
}

.dateFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 0.5em;
}

.blue {
    color: blue;
    margin-right: 0.5em;
    text-decoration: none;
}

.sansSerif {
    font-family: publicSans, serif;
    font-size: 0.8em;
}

.line {
    width: 100%;
    border-bottom: 1px solid #E7E7E7;
    margin-top: 1em;
    margin-bottom: 1em;
}

.versionFlex {
    display: flex;
}

.versionFlex>* {
    margin-right: 1em;
}

.authorFlex {
    display: flex;
    margin-bottom: 0em;
    align-items: flex-end;
}