.footerbg {
    background:var(--clear);
}

.ctaholding {
    margin-bottom: 81px;
}

.footerhold {
    padding-left: 8.33%;
    padding-right: 8.33%;
    padding-top: 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 0.8em;
    padding-bottom: 4em;
    background: white;
}

.linkgridvar {
    margin-top: 0em;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
}

.linkgridvar>div {
    display: flex;
    flex-direction: column;
}

.footerlink {
    text-decoration: none;
    margin-bottom: 1em;
    text-align: right;
}

@media screen and (max-width: 900px) {
    .footerhold {
        grid-template-columns: 1fr;
        width: 100vw;
    }

    .linkgridvar {
        display: block;
        margin-top: 1em;
    }

    .linkgridvar>div {
        display: flex;
        flex-direction: row;
       
    }

    .footerlink {
        text-decoration: none;
        margin-bottom: 1em;
        text-align: left;
        margin-right: 1em;
    }
}