
.navBar {
    background: #fff;
    display: grid;
    grid-template-columns: 270px auto;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 0px; 
    align-items: center;
    padding-left: 8.33%;
    padding-right: 8.33%;
    justify-content: 'space-between';
  }

.directory {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 1em;
  padding-right: 1em;
  height: 100%;
}

.logoHold {
  width: 95px;
  height: 140px;
  padding: 45px 45px 45px 0px;
}

.logoHoldMobile {
  margin-left: 0px;
  padding: 1em;
}

.logoHold:hover {
  cursor: pointer;
}
.navBox {
  display: flex;
}

.linkshow {
  text-decoration: none;
  color: black;
}

.holdFlex {
  display: flex;
  align-items: center;
}

.navBox>* {
  margin-left: 4em;
}

.languageBox {
  align-items: center;
}

.dropdown {
  background: none;
  border: none;
  color: #8C8C8C;
  font-size: 1em;
  width: 80%;
  margin-left: 1em;
  margin-right: 1em;
}

.mobileNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  z-index: 5;
  top: 0;
  display: none;
  background: #fff;
}

.hamburgerHold {
  margin: 1em;
  border: none;
  background: none;
}

.displayMenu {
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: row;
  top: 80px;
  right: 0;
  background: #fff;
  width: 100%;
  opacity: 1;
  padding: 1em 1em 2em 1em ; 
  animation-name: appear;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes appear {
  0% {
    top: 0px
  }
}

@keyframes appearb {
  0% {
    top: 80px
  }
}

.hideMenu {
  position: fixed;
  z-index: 4;
  display: flex;
  flex-direction: row;
  top: 0px;
  right: 0;
  background: #fff;
  width: 100%;
  opacity: 1;
  padding: 1em 1em 2em 1em ; 
  animation-name: appearb;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

.hideMenu>* {
  padding-right: 2em;
}

.displayMenu>* {
  padding-right: 2em;
}

.menuHold {
  display: flex;
  justify-content: space-between;
  height: 73px;
  align-items: center;
  width: 200px;
}

.padbox {
  padding: 1em;
}

.padbox>div {
  padding-bottom: 1em;
  text-align: right;
}

.buttonHold {
  padding: 1em;
}

.buttonLink {
  color: white;
  text-decoration: none;
}

.logo {
  height: 31px;
  margin: 0.8em;
  margin-left: 0;
}

.blue {
  color: #0258FF;
}

@media only screen and (max-width: 960px) {
  .mobileNavBar {
    display: flex;
    align-content: space-between;
  }

  .navBar {
    display: none;
  }


}
